* {
	font-family: "Courier New", Courier, monospace;
	flex: auto;
}

.centerText{
	text-align: center;
}


.box {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 5px solid rgb(83, 52, 133);
	border-radius: 8%;
	font-size: 150%;
	padding: 25px;
}