* {
	font-family: "Courier New", Courier, monospace;
	color: #c4c9f6;
	text-align: center;
	flex: auto;
}




.box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 10px;
	width: 100%;
	border: 5px solid rgb(83, 52, 133);
	border-radius: 5%;
	font-size: 150%;
	padding: 25px;
}